p {
    text-align: center;
}
h1{

    color:crimson;

}

body{
    background-color: rgb(148, 144, 150);(1,1,17);

}

p{
text-align:left ;    
font-size: medium;
color: rgb(56, 145, 60);


}
img{
    align-self: ;
}