p {
    text-align: center;
}
h1{

    color:crimson;

}

body{
    background-color: rgb(252, 183, 183);(1,1,17);

}

p{
text-align:left ;    
font-size: medium;
color: aliceblue;


}
img{
    align-self: ;
}