p {
    text-align: center;
}
h1{

    color:crimson;

}

body{
    background-color: rgb(15, 4, 20);(1,1,17);

}

p{
text-align:left ;    
font-size: medium;
color: rgb(56, 103, 145);


}
img{
    align-self: ;
}